* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

body {
    padding: 30px 30px;
}

.container {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8), rgba(255,196,85,0.7)), url("../img/background2.jpg");
    height: 90vh;
    width: 98%;
    background-position: top;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
    position: relative;
}

/*=============================
NAVBAR
=============================*/
nav{
    background-color: #333 !important;
    top: 0;
    left: 0;
}

nav::before{
    position: absolute;
    content: "";
    left: 0;
    top: 100%;
    border-top: 10px solid #333;
    border-right: 10px solid #333;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

nav::after{
    position: absolute;
    content: "";
    right: 0;
    top: 100%;
    border-top: 10px solid #333;
    border-left: 10px solid #333;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
}